.header {
    background-color: #121212;
    color: #fff;
}
.header-center {
    align-items: center;
    display: flex;
    padding: 0px 12px;
    margin: 0 23%;
    min-height: 56px;
}
.logo {
    margin-right: 6px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 58px;
    min-height: 36px;
    font-size: .875rem;
    font-family: 'Roboto';
    border-radius: 4px;
    padding: 0 16px;
}
.menu:hover {
    background-color: #2e2e2e;
}
.menu-icon {
    color: #91919191;
}
.menu:hover .menu-icon {
    color: #fff;
    transition: 0.3s;
}